body {
background: repeating-linear-gradient(
  to right,
  #f6ba52,
  #f6ba52 11%,
  #ffd180 11%,
  #ffd180 18%
);
  font-family: "garamond", serif;
  font-size: 10px;
  color: #22c294;
}

h1
{
font-family: "garamond", serif;
font-size: 48px;
color: #22c294;
font-style: normal;
font-weight: bold;
text-transform: none;
letter-spacing: 0px;
line-height: 1em;
}

h2
{
font-family: "garamond", serif;
font-size: 20px;
color: #22c294;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 0px;
line-height: 1em;
}

h3
{
font-family: "garamond", serif;
font-size: 16px;
color: #22c294;
font-style: normal;
font-weight: normal;
letter-spacing: 1px;
line-height: 1em;
}


a:link {color: #99905A; text-decoration: underline;}
a:active {color: #756402; text-decoration: underline; }
a:visited {color: #756402; text-decoration: underline; }
a:hover {color: #ffffff; text-decoration: none; }
a: img {border: none; }

::-webkit-scrollbar {
  width: 13px;
  height: 13px; }
  
::-webkit-scrollbar-track-piece {
  background-color: #ebebeb; }
 
::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e1d9c4), color-stop(100%, #7c97a0));
  border: 1px solid #0d0d0d;
  border-top: 1px solid #e1d9c4;
  border-left: 1px solid #e1d9c4; }

table img {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 0.4s ease;
  cursor: url('img/Cursor.cur'), auto;
}

#resetButton {
  cursor: url('img/Cursor.cur'), auto;
}



