body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#computer {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

#computer-container {
  position: absolute;
  top: 4%;
  left: 8%;
  width: 84%;  /* 100 - (8 + 8) */
  height: 92%; /* 100 - (4 + 4) */
  background: url("img/Intranet.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}

#overlay-tl,
#overlay-br {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  display: grid;
  overflow: visible;
  z-index: 3;
  pointer-events: none;
}

#overlay-tl div,
#overlay-br div {
  width: var(--square-size);
  height: var(--square-size);
}

@keyframes slide-in-tl {
  from {
    transform: translate(-50%, -50%) rotate(45deg) translate(-100%, -100%);
  }
  to {
    transform: translate(-50%, -50%) rotate(45deg) translate(0, 0);
  }
}

@keyframes slide-in-br {
  from {
    transform: translate(-50%, -50%) rotate(45deg) translate(100%, 100%);
  }
  to {
    transform: translate(-50%, -50%) rotate(45deg) translate(0, 0);
  }
}

#overlay-tl.fade-out,
#overlay-br.fade-out {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
